$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import 'custom';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/brands';

@import 'bootstrap/scss/bootstrap';

.alerts-container {
  position: absolute;
  top: 70px;
  right: 1rem;
  min-width: 280px;
  z-index: 100;
  .toast {
    background-color: white;
    box-shadow: 1px 2px 6px 5px lightgray;
  }
}
